<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DBControllerWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MalvaradoSoftWebGF/DBControllerWS"
                binding="basicHttpBinding" bindingConfiguration="DBControllerWSPortBinding1"
                contract="MAlvaradoWS.DBControllerWS" name="DBControllerWSPort1" />
        </client>
    </system.serviceModel>
</configuration>